@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap");
@font-face {
  font-family: ArgentumSans;
  src: url("../fonts/ArgentumSans-Light.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --text-primary: #ffffff;
  --text-secondary: #cf2526;
  --text-link: #ffffff80;
  --text-invert: #1b1b1b;
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
  background: #100d0a;
  color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
a {
  color: #ffffff80;
  transition: 0.2s ease;
}
a:hover {
  text-decoration: none;
  color: #cf2526;
}
p {
  font-size: 16px;
}
.title-primary {
  font-size: 64px;
  font-weight: 300;
}
.title-secondary {
  color: #cf2526;
  font-size: 14px;
  font-weight: bold;
}
.title-primary a.link_underline {
  position: relative;
  color: white;
}
.title-primary a.link_underline:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ffffff;
  height: 1px;
  width: 100%;
}
.title-primary a.link_underline:hover {
  color: var(--text-secondary);
}
.title-primary a.link_underline:hover:after {
  background: #cf2526;
}
.mt-card {
  border-bottom: 1px solid rgba(255, 255, 255, 0.525);
  padding-bottom: 25px;
}

/* Transition overlay */
body.tt-transition .ptr-overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #111;
}

/* Transition preloader */
body.tt-transition .ptr-preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 12;
  transform: translate(-50%, -50%);
}

body.tt-transition .ptr-prel-content {
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  color: #af1212;
}

.ptr-prel-image {
  max-height: 96px; /* You may need to change the img height to match your logo type! */
  opacity: 0.2; /* You may need to change the opacity as well! */
}

.btn-transparent {
  background: transparent;
  border: none;
  color: white;
}
/**********Header Navbar**********/

.navbar {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeee3b;
  padding: 15px;
}
.navbar-brand {
  /* padding: 10px; */
}
.navbar-collapse {
  flex-grow: unset;
}
.nav-item.nav-link {
  color: white;
}
.nav-item.nav-link:hover {
  color: #cf2526;
}
.navbar-toggler {
  border: 1px solid white;
}
.navbar-nav .nav-item {
  margin: 0 10px;
  position: relative;
}
.navbar-nav .nav-item::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 1px;
  background: white;
  opacity: 0;
  visibility: hidden;
}
.navbar-nav .nav-item.active::after {
  opacity: 1;
  visibility: visible;
}
.lets_talk {
  display: flex;
  align-items: center;
}

.lets_talk img {
  margin-left: 10px;
}

/**********Custom Cursor**********/

.cursorNew {
  position: fixed;
  background-color: #cf2526;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: scale(1);
}
.cursorNew.active {
  opacity: 1;
  transform: scale(0);
}
.cursorNew.menu-active {
  opacity: 1;
  transform: scale(0);
}
.cursorNew.hovered {
  opacity: 1;
}

.cursor-follower {
  position: fixed;
  border: 2px solid rgba(255, 255, 255, 0.651);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity,
    0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: translate(2px, 2px);
}
.cursor-follower.active {
  opacity: 1;
  transform: scale(3);
}
.cursor-follower.menu-active {
  opacity: 1;
  transform: scale(3);
}
.cursor-follower.hovered {
  opacity: 1;
}
/**********Custom Cursor**********/

/* .hero {
  position: relative;
  background-image: url(../img/hero-banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
} */
.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
}
.hero .hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.hero h1 {
  font-family: "ArgentumSans";
  color: #ffffff;
  font-size: 94px;
  text-align: center;
  margin: 15px 0;
}
.hero-bottom-title {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
}
.about {
  padding: 80px 0;
  font-weight: 300;
}

.about_bottom {
  padding: 100px 0 0;
  align-items: center;
}
.aboutus-link-round {
  display: inline-block;
  position: relative;
}
.aboutus-link-round img.aboutus-cirle {
  animation-name: rotate;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.aboutus-link-round a {
  color: white;
}
.aboutus-link-round p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
}

.slide-content h2 {
  font-weight: 100;
  color: #ffffff4c;
  font-size: 84px;
}
.expertise {
  position: relative;
  overflow: hidden;
}
.expertise-items a {
  color: inherit;
}
.expertise-items a:hover {
  color: var(--text-secondary);
}
.expertise-vertical {
  position: absolute;
  right: 0;
  top: 50%;
}
/********Expertise***********/

.mouse-over {
  position: relative;
}
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 450px;
  pointer-events: none;
  opacity: 0;
  z-index: 5;
}

.cursor__media {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 100;
}

.cursor__media.active {
  opacity: 1;
}

.hover_item {
  position: relative;
}
.hover_item:hover {
  z-index: 10;
}

/********Clients***********/

.clients {
  padding: 50px 0;
  overflow: hidden;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.tt-magic-cursor #magic-cursor {
  display: block;
}

#ball {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  border-style: solid;
  /*border-color: #FFF;*/
  border-radius: 50%;
  /* Note: border width handled through JS */
  z-index: 10;
}

/* Ball view 
============= */
#ball .ball-view {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  padding: 0 5px;
  font-size: 14px;
  font-weight: 500;
  color: #222;
  line-height: 1.3;
  text-align: center;
  transform: scale(0);
}

#ball .ball-view i {
  font-size: 19px;
}

/* Ball drag 
============= */
#ball .ball-drag {
  position: absolute;
  display: block;
  width: 100%;
  padding: 0 5px;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
  transition: all 0.3s;
}
#ball .ball-drag::before,
#ball .ball-drag::after {
  position: absolute;
  top: 50%;
  margin-top: -5px;
  font-size: 19px;
  color: #ffffffb1;

  height: 10px;
  line-height: 10px;

  /* Font Awesome */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
#ball .ball-drag::before {
  content: "\f104"; /* Font Awesome */
  left: 0;
  transform: translate3d(-30px, 0, 0);
  transition: all 0.25s;
}
#ball .ball-drag::after {
  content: "\f105"; /* Font Awesome */
  right: 0;
  transform: translate3d(30px, 0, 0);
  transition: all 0.25s;
}

/* Ball close 
============== */
#ball.ball-close-enabled {
  opacity: 1 !important;
}
#ball .ball-close {
  position: absolute;
  padding: 0 5px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  line-height: 1;
  text-align: center;
}

/* ------------------------------------------------------------- *
 * Portfolio slider (full screen)
/* ------------------------------------------------------------- */

.tt-portfolio-slider {
	position: relative;
	width: 100%;
	background-color: #0a0a0a;
}

.tt-portfolio-slider .swiper {
	height: 100vh;
}
@media (max-width: 1024px) {
	.tt-portfolio-slider .swiper {
		height: calc(100vh - 50px);
	}
}

/* Portfolio slider slide */
.tt-portfolio-slider .swiper-slide {
	position: relative;
	overflow: hidden;
	background-color: #000;
}


/* Portfolio slider item 
========================= */
.tt-portfolio-slider-item {
	position: relative;
	height: 100%;
}

img.tt-psi-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}

/* Slide opasity cover (for prev/next slides) */
.tt-portfolio-slider-item::after {
	position: absolute;
	display: block;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	background-color: #000;
	transition: 0.5s ease-in-out;
}
.swiper-slide-prev .tt-portfolio-slider-item::after,
.swiper-slide-next .tt-portfolio-slider-item::after {
	opacity: .7;
	visibility: visible;
}


/* Portfolio slider caption 
============================ */
.tt-portfolio-slider-caption {
	position: absolute;
	top: 55%;
	left: 0;
	width: auto;
	/*max-width: 1000px;*/
	margin: 0px 2% 0 12%;
	color: #FFF;
	z-index: 998;
	pointer-events: none;
	transform: translate3d(0, -50%, 0);
}
@media (max-width: 767px) {
	.tt-portfolio-slider-caption {
		margin-left: 10%;
	}
}
.tt-ps-caption-inner {
}

.tt-portfolio-slider-caption a {
	pointer-events: initial;
}

/* Portfolio slider caption title */
.tt-ps-caption-title {
	margin: 0;
	font-size: clamp(40px, 4.8vw, 100px);
	font-weight: bold;
	font-weight: 600;
	line-height: 1.2;
}
.tt-ps-caption-title a {
	display: inline;
	color: #FFF;
}

/* Portfolio slider caption title hover if the magic cursor is not enabled */
body:not(.tt-magic-cursor) .tt-ps-caption-title a {
	background-repeat: no-repeat;
	background-image: -o-linear-gradient(transparent calc(100% - 3px),currentColor 3px);
	background-image: linear-gradient(transparent calc(100% - 3px),currentColor 3px);
	background-image: -ms-linear-gradient(transparent 96%,currentColor 3px);
	transition: 0.6s cubic-bezier(.215,.61,.355,1);
	background-size: 0 96%;
}
body:not(.tt-magic-cursor) .tt-ps-caption-title a:hover {
	background-size: 100% 96%;
	color: currentColor;
}

/* Portfolio slider caption category */
.tt-ps-caption-category {
	margin: 30px 0 0 0;
	font-size: calc(13px + 0.1vw);
	font-weight: 500;
}
@media (max-width: 1024px) {
	.tt-ps-caption-category {
		margin: 30px 0 0 0;
	}
}


/* Portfolio slider caption position 
===================================== */
/* Position center */
.tt-portfolio-slider-caption.psc-center {
	top: 50%;
	left: 50%;
	width: 90%;
	margin: 0;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	transform: translate(-50%, -50%);
}
.tt-ps-caption-inner {
  text-align: left;
  width: 50%;
}

/* Portfolio slider caption styles 
=================================== */
/* Style stroke */
.tt-portfolio-slider-caption.psc-stroke .tt-ps-caption-title {
	font-weight: bold;
	font-weight: 800;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #FFF;
	-webkit-text-fill-color: transparent;
}
@media (max-width: 1200px) {
	.tt-portfolio-slider-caption.psc-stroke .tt-ps-caption-title {
		-webkit-text-stroke-width: 1px;	
	}
}
@media (max-width: 991px) {
	.tt-portfolio-slider-caption.psc-stroke .tt-ps-caption-title {
		-webkit-text-stroke-width: 1px;	
	}
}


/* Portfolio slider navigation 
=============================== */
.tt-portfolio-slider-navigation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 2%;
  left: 50%;
  width: 300px;
  height: 60px;
  z-index: 1;
  transform: translate3d(-50%, 0, 0);
}
@media (max-width: 767px) {
	.tt-portfolio-slider-navigation {
		width: 90%;
	}
}

.tt-ps-nav-prev,
.tt-ps-nav-next {
	position: absolute;
	top: 0;
	z-index: 20;
}
.tt-ps-nav-prev {
	left: 0;
}
.tt-ps-nav-next {
	right: 0;
}

.tt-ps-nav-arrow {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	font-size: 18px;
	color: #FFF;
	cursor: pointer;
	outline: none;
}
body:not(.tt-magic-cursor) .tt-ps-nav-arrow:hover {
	opacity: .5;
}
.tt-ps-nav-arrow-prev::after,
.tt-ps-nav-arrow-next::after {
	line-height: 0;

	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}
.tt-ps-nav-arrow-prev::after {
	content: "\f053";
}
.tt-ps-nav-arrow-next::after {
	content: "\f054";
}

.tt-ps-nav-arrow.tt-ps-nav-arrow-disabled {
	/* opacity: .5; */
	cursor: auto;
	pointer-events: none;
}

.tt-portfolio-slider .swiper-button-lock {
	display: none;
}


/* Portfolio slider pagination 
=============================== */
.tt-ps-nav-pagination {
}

.tt-portfolio-slider .swiper-pagination-lock {
	display: none;
}

/* Portfolio slider pagination bullets */
.tt-ps-nav-pagination-bullets {
	font-size: 0;
}
.tt-ps-nav-pagination-bullets .swiper-pagination-bullet {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: transparent;
	margin: 8px;
	opacity: 1;
	border-radius: 100%;
	border: 2px solid #fff;
}
.tt-ps-nav-pagination-bullets .swiper-pagination-bullet-active {
	background: #FFF;
	opacity: 1;
}

/* Portfolio slider pagination dynamic bullets */
.tt-ps-nav-pagination-bullets-dynamic {
	position: absolute;
	left: 50%;
	transform: translate3d(-50%, 0, 0);
	white-space: nowrap;
	overflow: hidden;
	font-size: 0;
}
.tt-ps-nav-pagination-bullets-dynamic .swiper-pagination-bullet {
	transform: scale(.33);
	position: relative;
	transition: .2s transform, .2s left;
}
.tt-ps-nav-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
	transform: scale(.66);
}
.tt-ps-nav-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
	transform: scale(.33);
}
.tt-ps-nav-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
	transform: scale(.66);
}
.tt-ps-nav-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
	transform: scale(.33);
}
.tt-ps-nav-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
	transform: scale(1);
}

/* Portfolio slider pagination fraction */
.tt-ps-nav-pagination-fraction {
	position: relative;
	font-size: 14px;
	font-weight: 600;
	color: #FFF;
	line-height: 1;
}

.tt-ps-nav-pagination-fraction .swiper-pagination-current {
	position: relative;
	top: -4px;
}
.tt-ps-nav-pagination-fraction .swiper-pagination-total {
	position: relative;
	bottom: -4px;
}

/* Portfolio slider pagination progressbar */
.tt-ps-nav-pagination-progressbar {
	position: absolute;
	left: 70px;
	right: 70px;
	width: auto;
	max-width: 100%;
	height: 2px;
	background-color: rgba(255, 255, 255, 0.3);
}
.tt-ps-nav-pagination-progressbar .swiper-pagination-progressbar-fill {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	transform: scale(0);
	transform-origin: left top;
}
